<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ greet }}, {{ name }}</title>
</head>
<body>
<h1>{{ greet }}, {{ name }}</h1>
<h2>{{bloque}}</h2>
<p>{{parrafo}}</p>
<h3>{{titulo_lista}}</h3>
<ol>
<!-- iterando con for sobre la lista -->
{% for nombre, edad in personas %} 
	<li>{{nombre}} : {{edad}}</li>
{% endfor %}
</ol>
<h4>{{tabla}}</h4>
	<table>
		<thead>
			<tr>
				<th>
				ID
				</th>
				<th>
				Edad
				</th>
				<th>
				Nombre
				</th>
				<th>
				Apellido
				</th>
			</tr>
		</thead>
		<tbody>
		<!-- items es un método de diccionario -->
			{% for identificacion, persona in informaciones.items() %}
				<tr>
					<td>
					{{identificacion}}
					</td>
					<td>
					{{persona.edad}}
					</td>
					<td>
					{{persona.nombre}}
					</td>
					<td>
					{{persona.apellido}}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
