{% extends 'ejemplo.html' %}

{% block title %}
{{titulo}}
{% endblock %}

{% block menu_left %}

{% for bloque, diccionario in contenido.items() %}
<ul>
{% for slug, titulo in diccionario.titulos %}
<li><a href="#{{slug}}">{{titulo}}</a></li>
{% endfor %}
</ul>
{% endfor %}
{% endblock %}

{% block content%}
{% for bloque, diccionario in contenido.items() %}
{{diccionario.contenido|safe}}
{% endfor %}
{% endblock %}
