<html>
<head>
<!-- comentario html -->
<!-- aca metadata -->
<title>
{% block title %}
{% endblock %}
</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	 <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container is-fluid">
<div id="nav-bar">
<!-- aca va un menu nav -->
</div>
<div class="container is-fluid">
<div class="tile is-4">
	<aside id="menu-left">
{% block menu_left %}
{% endblock %}
</aside>
</div>
<div class="tile">
<article>
{% block content%}
{% endblock %}
</article>
</div>
</div>
<footer>
</footer>
</body>
</html>
