<!DOCTYPE html>
<html lang="es">
<head>
	 <title>Mis libros</title>
	 
</head>
<body>
    <ul id="libros">
    {% for item in libros %}
        <li><a href="{{ item }}">{{ item }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
